extends layout

block content
  main
    section#tenders
      h3 Items for Trade
      for tender in tenders
        div.dashboard-tender
          h4=tender.name
          p=tender.description
          p=tender.tender_type
          p=tender.username
      a(href='/tenders') View All Tenders
    section#bids
      section#bids-sent
        h3 My Bids Made
          div.dashbord-bids-sent
            h4 bid sent
        a(href='/bids-sent') View all Bids Made
      section#bids-received
        h3 My Bids Received
          div.dashboard-bids-received
          h4 bid received
        a(href='/bids-received') View all Bids Received
