extends layout

block content
  body.dash
  main
    section#tenders-dash
      h3 Items for Trade
      for tender in tenders
        div.dashboard-tender
          h4=tender.name
          p=tender.description
          p=tender.tender_type
          p=tender.username
      a.dash-link(href='/tenders') View All Tenders
    section#bids
      section#bids-sent
        h3 My Bids Sent
          //- for bid in bids-sent
          //-   div.dashboard-bids-sent
        a.dash-link(href='/bids-sent') View all Bids Sent
      section#bids-received
        h3 My Bids Received
          //- for bid in bids-received
          //-   div.dashboard-bids-received
        a.dash-link(href='/bids-received') View all Bids Received
