extends layout

block content
  main
    section#tenders
      for tender in tenders
        p=tender.name
    section#bids-offered
      p offered bid 1
    section#bids-received
      p offered bid 2
