extends layout

block content
  h1 Welcome to Trade It Splash Page!

  form(action='/' method='POST')
    input(type='text' name='username' placeholder='facebook username')
    input(type='submit' name='submit' value='Log In')

  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js')
  script(src='js/age-verification.js')
