body.splash{
  background-image: url("../img/slack-imgs.com.jpeg");
  background-size: cover;
}
div.container{
  margin-top: 0px;
}
.centerLogo{
  width: 830px;
  height: 330px;
  margin-top: 8%;
  margin-left: 19%;
  background-color: white;
  position: relative;
  opacity: .9;
  border-radius: 10px;
}

form{
  margin-top: 0;
}

#tradeit{
  height: 300px;
  width: 800px;
  position: absolute;
}

.btn#fb{
  background-color: #3B5998;
  width: 15%;
  height: 10%;
  margin-left: 38%;
  margin-top: 33%;
  border-radius: 50%;
  position: absolute;
  font: bolder;
  font-family: Quicksand;
  padding: 0;
  opacity: .9;
}

.btn:hover{
  background-color: #FAE268;
  color: black;
}
