@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #E6E2DF;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#tenders {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid grey;
  border-radius: 2%;
  margin-left: 50px;
}

#bids {
  float: right;
  margin-right: 50px;
}

#bids-sent {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid grey;
  border-radius: 2%;
}

#bids-received {
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid grey;
  border-radius: 2%;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo{
  font-family: La Belle Aurore;
  color: #2a2a2a;

}

nav{
  background-color: #59955C;
}

nav ul a {
  font-size: 25px;
  padding-top: 10px;
  color: #ededed;

}

.col.l4.offset-l2.s12 {
  display: inline-block;

}

li{
  font-family: Quicksand;
  color: #fafafa;
}


nav ul a:hover{
  background-color: #545454;
  height: 6.5vh;
}

.dropdown-content li>a, .dropdown-content li>span{
  color: #dbdbdb;
}

li.info{
display: inline-block;
margin-right: 65px;
font-size: 20px
}

h5 {
  font-family: Quicksand;
  margin-bottom: 0;
}

div.container.copywrite{
  text-align: center;
  font-size: 15px;
}
div.row{
  margin-bottom: 0;
  height: 2%;
}

.container{
  width: 100vw;
}

footer.page-footer{
  padding: 0px;
  padding-bottom: 0px;
  background-color: #59955C;
}

td, th {
  border: 2px solid black;
}

.tender_show{
  border: 2px solid black;
}
