@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#parent-tenders-style{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all_this {
  border: solid #ADD8E6 4px;
  width: 60%;
  padding: 3%;
  margin: 5%;
  position: relative;
}

#addTender {
  font-family: Open Sans;
}

div.input-field label {
  font-size: 2rem;
}

input#input_text{
  font-size: 2rem;

}

textarea.materialize-textarea {
  font-size: 2rem;
}

p{
  font-size: 3rem;
}

button.btn.waves-effect.waves-light#submit{
  width: 200px;
  height: 80px;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border: black solid 1px;
  margin-top: 30px;
}
