
#all{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  margin: 3%;
}

#tendersAll{
  width:80%;
}

div#add_tender_butt{
  width: 270px;
  height: 100px;

}

.btn-large {
  background-color:white;
  border: black solid 3px;
  color: black;
  width: 260px;
  height: 65px;
  font-size: 25px;
  margin-top: 2%;
  margin-bottom: 2%;

}

div.col.s12.m7.allTenders{
  width: 300px;
  height: 200px;
  margin-left: 1%;
  display: inline-block;
}
div.card-image{
  background-size: contain;
  width: 300px;
  height: 300px;
}
.tender_index{
  font-size: 25px;
}
