extends ../layout

block content

  if tenders  
  
  for tender in tenders  
    div.row
      div.col.s12.m10
        div.card.blue-grey.darken-1
         div.card-content.white-text
           span.card-titleCard 
           h3= tender.name
           p I am a very simple card. I am good at containing small bits of information.
            | I am convenient because I require little markup to use effectively.
           p Descrption:
            p= tender.description
           p Type:
            p= tender.tender_type
         div.card-action
           a(href="/bids-sent/"+tender.id) Check it out



       
