extends ../layout

block content

  div.row
    form.col.s12
      div.row
        div.input-field.col.s6
          input#user_id(type="hidden", value="", class="validate")
        div.input-field.col.s6
          input#tender_id(type="hidden", value='#{current_user_id}', class="validate")
        div.input-field.col.s6
          i.material-icons.prefix account_circle
          input#icon_prefix(type="text", class="validate")
          label(for="icon_prefix") Let's Exchange 
        div.input-field.col.s6
          i.material-icons.prefix email
          input#icon_email(type="email" class="validate")
          label(for="icon_email") Email

      
    


      
