#parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blue-border{
  width: 70%;
  border: solid #ADD8E6 4px;
  margin: 3%;
  padding: 2%;
}

#upload-file-butt{
  height: 45px;
  font-size: 2rem;
  background-color: white;
  color: black;
  border: solid black 2px;
}

#user-update-butt{
  height: 55px;
  font-size: 2rem;
  background-color: white;
  color: black;
  border: solid black 2px;
  margin-top: 13%;
}

.btn:hover {
  background-color: transparent;
}

.input-field label#aboutme-label{
  left: 25.75rem;
}
.user_update_about_me{
  font-size: 30px;
  height: 150px;
  padding: 2%;
}
.user_edit_file{
  width: 30%;
}
