extends ../layout

block content

  body#tender_index
  
    h1 Showing all tenders within a 50 mile radius:
    div
      a.btn-floating.btn-large.waves-effect.waves-light.grey(href='/tenders/new')
        i.material-icons add
        
      if tenders
      
      for tender in tenders
        div.row
          div.col.s12.m5
            div.card-panel.yellow
              span 
                a(href='/tenders/'+tender.id)= tender.name
              p.white-text= tender.description
              p.white-text= tender.tender_type
              p.tender.user_id
        
            


                  
