extends ../layout

block content

  div#parent
    h1 Add Tender
    div.all_this
      div.row
        form.col.s12(action='/tenders', method='post')
          div.row
            div.input-field.col.s6
              input(id="input_text" type="text" length="15")
              label(for="input_text") Name
          div.row    
            div.input-field.col.s12
              textarea(id="textarea1" class="materialize-textarea" length="120")
              label(for="textarea1") Item Description
          div.row
            p
              input(type="checkbox" id="goods")
              label(for="goods") Goods
            p
              input(type="checkbox" id="services")
              label(for="services") Services
          div.file-field.input-field
            div.btn
              span File
              input(type="file" multiple)
            div.file-path-wrapper
              input.file-path.validate(type="text" placeholder="Upload one or more files")
               
            button.btn.waves-effect.waves-light#submit(type="submit" name="action") Submit
              i.material-icons.right send 
            
